* {
  box-sizing: border-box;
}

body {
  background-color: mistyrose;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  width: min(50vw, 350px);
  margin: 0 auto;
}

.player-turn {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: min(40vw, 350px);
  width: min(40vw, 350px);
}

.reset-btn {
  padding: 10px;
  visibility: hidden;
}

.show-btn {
  visibility: visible;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 600px) {
  .game-board button {
    font-size: 40px;
  }
  .scoreboard {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 601px) {
  .game-board button {
    font-size: 60px;
  }
  .scoreboard {
    font-size: 1em;
  }
}
@media screen and (min-width: 800px) {
  .game-board button {
    font-size: 80px;
  }
  .scoreboard {
    font-size: 1.1em;
  }
}
