@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Macondo", cursive;
  background-color: #05386b;
  color: white;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  text-align: center;
  padding: 10px;
  width: min(50vw, 350px);
  margin: 0 auto;
  z-index: 1;
  cursor: pointer;
  margin: 10px 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: min(40vw, 350px);
  width: min(40vw, 350px);
  gap: min(0.8vw, 10px);
}

.reset-btn {
  margin: 0 auto;
  z-index: 1;
  visibility: hidden;
}

.reset-btn button {
  font-size: min(3.5vw, 25px);
  border: none;
  border-radius: 20px;
  color: white;
  transition: background 300ms ease-in-out;
  font-family: "Macondo", cursive;
  padding: 8px 30px;
  background-size: 175% 50%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    rgb(40, 31, 207),
    rgb(41, 116, 230),
    rgb(5, 184, 219)
  );
  box-shadow: 0 4px 15px 0 rgba(49, 150, 196, 0.75);
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

.reset-btn button:hover {
  background-position: 75% 0;
  transition: background 0.4s ease-in-out;
}

.show-btn {
  visibility: visible;
}

.overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-overlay {
  visibility: visible;
}

.game-info {
  font-size: 25px;
  z-index: 1;
  min-height: 29px;
}

.game-board button {
  border: 1px solid #0099cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.game-board button:hover {
  border: 1px solid #0099cc;
  background-color: #0099cc;
  padding: 5px 10px;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.game-board button:disabled,
button[disabled] {
  font-family: "Macondo", cursive;
  box-shadow: none;
}

.game-board button:disabled.is-player1,
button[disabled].is-player1 {
  background-color: #0d50cc;
  border: 1px solid #0d50cc;
}

.game-board button:disabled.is-player2,
button[disabled].is-player2 {
  background-color: #04b9dd;
  border: 1px solid #04b9dd;
}

.flip-horizontal-bottom {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@media only screen and (max-width: 450px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .reset-btn button {
    font-size: 1.3em;
  }
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  .game-board button {
    font-size: 5em;
  }
  .scoreboard {
    font-size: 1em;
    width: 90vw;
  }
  .game-info {
    font-size: 2em;
    margin: 10px 0;
  }
  .game-board {
    width: 90vw;
    height: 90vw;
  }
}
@media only screen and (min-width: 451px) {
  .game-board button {
    font-size: 40px;
  }
  .scoreboard {
    font-size: 0.8em;
  }
  h1 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 601px) {
  .game-board button {
    font-size: 60px;
  }
  .scoreboard {
    font-size: 1em;
  }
  h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 800px) {
  .game-board button {
    font-size: 80px;
  }
  .scoreboard {
    font-size: 1.1em;
  }
  h1 {
    font-size: 4em;
  }
}
